<lasso-page package-path="../browser.json"/>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ttapp</title>
    <lasso-head/>
  </head>
  <body>
    <top-menu/>
    <lasso-body/>
    <!-- Add browser refresh support in development -->
    <browser-refresh/>
  </body>
</html>
